enable-pre-post-scripts = true
# Default registry (npm)
registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_TOKEN}

@msviderok:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPM_GH_TOKEN}